<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
</head>
<body>
    
    <h1>Customer Page</h1>
    <ul>
        {% for customer in customers %}
        <li>  
              First_name: ${{ customer.first_name }}
              Second_name: ${{customer.second_name }}
              Gender: ${{ customer.gender }}
              Age: ${{customer.age }}
              
        </li>
        {% endfor %}
    </ul>

</body>
</html>
